body {
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #fff;
}
:host {
        display: block;
        --app-coreblue-color:  #004481 ;
        --app-navy-color: #072146;
        --app-darkcoreblue-color: #043263;
        --app-whitecore-color: #1464A5;
        --app-lightblue-color: #D4EDFC;
        display: block;
}


      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      iron-selector {
        color: #fff;
        background-color: var(--app-navy-color);
      }
      app-toolbar {
        color: #fff;
        background-color: var(--app-navy-color);

      }

      app-header {
        color: #fff;
        background-color: var(--app-navy-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: #000;
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        border: 0px;
        color: black;
        font-weight: bold;
            background-color: var(--app-lightblue-color);
      }

      .title {
          text-align: center;
      }
      .amountbig {
          font-size: 170%;
      }
.amountsmall {
          font-size: 120%;
}
.negative {
    color: #f00;
}
.recipient {
    font-size: 110%;
}
.whitefont {
    color: #fff;
}
.card-content {
    font-size: 120%;
}
.card-actions paper-button {
    font-size: 80%;
}
.euro {
    font-size: 110%;
}
paper-item-body .movementmsg {
    font-size: 135%;
}
    
#loginbtn {
    float: right;
}
#autologinbtn {
    float: right;
}

#registeractionbtn {
    float: right;
}
#registerbtn {
    float: left;
}
#gologinbtn {
    float: left;
}
#toastinfo {
    --paper-toast-background-color: var(--app-navy-color);
    --paper-toast-color: white;
} 

#toasterror {
    --paper-toast-background-color: #e0000b;
    --paper-toast-color: white;
} 

#dismissbtn {
    color: #f5ff38;
}
paper-toast {
    text-align: center;
      width: 300px;
      margin-left: calc(50vw - 150px);
      margin-bottom: 100px;
     font-weight: bold;
    }

.actionbtn {
    background-color: var(--app-coreblue-color);
    color: white;
    --paper-button-raised-keyboard-focus:  background-color: var(--paper-pink-a200) !important; color: white !important; ;
}
.actionbtn:hover {
background-color: var(--paper-indigo-400);
}

.red {
    color: red;
}

paper-input {
    display: block;
}

paper-input-error {
    height: 500px;
}

paper-button {
font-size: 16px;
-webkit-font-smoothing: antialiased;
}
paper-button.lightblue {
    color: var(--app-coreblue-color);
}
paper-button.indigo {
    background-color: var(--app-coreblue-color);
    color: white;
    --paper-button-raised-keyboard-focus:  background-color: var(--paper-pink-a200) !important; color: white !important ;
}
paper-button.indigo:hover {
background-color: var(--paper-indigo-400);
}

paper-spinner {
width: 100px;
height: 100px;
--paper-spinner-color: #004481;
--paper-spinner-stroke-width: 5px;
}

#maincontent {
    width: 90%;
margin-top: 100px;
margin-bottom: 150px;
padding-top: 20px;
background-color: #E8E8E8;
}
.white-bg {
    background-color: #E8E8E8;
}
#logincontainer {
    margin-top: 20px;
    margin-bottom: 20px;
    /*margin-top: 130px;*/
}
.page-bg {
          opacity: 0.1;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/ciudad.jpg) no-repeat center center fixed;
          background-size: cover;
          background-color: #fff;
  
          -webkit-animation-name: slideNav;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-duration: 1s;
          -webkit-animation-fill-mode:forwards;
          
          animation-name: fadeIn;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
          animation-duration: 1s;
          animation-fill-mode:forwards;
      }
      
      @-webkit-keyframes fadeIn {
          0% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
  
      @keyframes fadeIn {
          0% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
