<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<!-- My Imports -->
<link rel="import" href="artoo-login.html">
<link rel="import" href="artoo-register.html">
<link rel="import" href="artoo-transfer.html">
<link rel="import" href="artoo-movements.html">
<link rel="import" href="artoo-databus.html">
<link rel="import" href="artoo-home.html">
<link rel="import" href="my-icons.html">

<dom-module id="artoo-app">
  <template>
    <style>
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" >
    <paper-toast id="toastinfo" align="center" on-toastinfo="_toastinfo" text="{{infomsg}}"></paper-toast>
    <paper-toast id="toasterror" on-toasterror="_toasterror" text="{{errormsg}}">
        <paper-button id="dismissbtn" on-tap="_dismissError" class="">Cerrar</paper-button>
    </paper-toast>
    <artoo-databus>
    </artoo-databus>

    <app-location use-hash-as-path route="{{route}}" tail={{subroute}}>
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" tail={{subroute}} data="{{routeData}}">
    </app-route>

    <app-drawer-layout fullbleed force-narrow>
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar style="font-weight: bold">Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="register" hidden$="{{authed}}" href="#/register"><iron-icon icon="perm-identity"></iron-icon>&nbsp;Register</a>
          <a name="login" hidden$="{{authed}}" href="#/login"><iron-icon icon="lock"></iron-icon>&nbsp;Login</a>
          <a name="movements" hidden$="{{!authed}}"   href="#/movements"><iron-icon icon="receipt"></iron-icon>&nbsp;Movements</a>
          <a name="transfer" hidden$="{{!authed}}" href="#/transfer"><iron-icon icon="swap-horiz"></iron-icon>&nbsp;Transfer</a>
          <a name="logout" hidden$="{{!authed}}" href="#/logout"><iron-icon icon="power-settings-new"></iron-icon>&nbsp;Logout</a>
        </iron-selector>
    </app-drawer>

      <app-header-layout has-scrolling-region class="page-bg">

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title align="center" ><h3><iron-icon icon="account-balance"></iron-icon>&nbsp;[Super Secure Bank]</h3></div>
            <div align="right" class="whitefont" on-tap="logout">
                <paper-icon-button icon="power-settings-new" hidden$="{{!authed}}"></paper-icon-button>
            </div>
          </app-toolbar>
        </app-header>
        <div id="maincontent" class="container rounded">
            <div class="row">
                <div class="col-sm-12">
            <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                fallback-selection="login"
                role="main">
                <artoo-login name="login" emailplaceholder="login" checkboxmsg="Trust this Browser"></artoo-login>
                <artoo-register name="register"></artoo-register>
                <artoo-movements name="movements"></artoo-movements>
                <artoo-transfer name="transfer"></artoo-transfer>
            </iron-pages>
                </div>
            </div>
        </div>
      </app-header-layout>
    </app-drawer-layout>
    <iron-ajax
            id="checkauthreq",
            url="/api/mock/checkauth",
            method="GET",
            handle-as="json"
            on-response="_handleCheckAuthResponse",
            on-error="_handleCheckAuthError">
    </iron-ajax>
  </template>
  <script>

    class ArtooApp extends ArtooDatabusMixin(Polymer.Element) {
        static get is() { return 'artoo-app'; }
        static get properties() {
            return {
            page: {
                type: String,
                reflectToAttribute: true,
                observer: '_pageChanged',
            },
            routeData: Object,
            subroute: String,
            // This shouldn't be neccessary, but the Analyzer isn't picking up
            // Polymer.Element#rootPath
            rootPath: String,
            infomsg: {
                type: String,
                notify: true
            },
            errormsg: {
                type: String,
                notify: true
            },
            authed : {
                type: Boolean,
                value : false,
                notify : true
            }
            };
        }
        static get observers() {
            return [
            '_routePageChanged(routeData.page)'
            ];
        }
        ready() {
            super.ready();
            window.addEventListener('toastinfo', (e) => this._toastinfo(e));
            window.addEventListener('toasterror', (e) => this._toasterror(e));
            window.addEventListener('auth-signal', (e) => this._onauthsignal(e));
            window.addEventListener('checkauth-signal', (e) => this._checkauth(e));
        }


        _onauthsignal(e) {
            console.log("[app] auth signal received: "+e.detail.authed);
            this.authed = e.detail.authed;
            if (!e.detail.authed) {
                //super.displayerror("Your session has expired, please Login again");
                super.navigate("login");
            }
        }
        _checkauth(e) {
            // if there is a token, try it
            console.log("artoo-app checkAuth");
            this.$.checkauthreq.headers['Authorization'] = "Bearer "+sessionStorage.getItem('token');
            this.$.checkauthreq.generateRequest();
        }
        _handleCheckAuthError(e) {
            this.displayerror("Your session has expired");
            //si hay kpriv, intenta hacerlogin
            // si no hay kpriv, termina
            super.signalAuth(false);
        }
        _handleCheckAuthResponse(e, req) {
            console.log('handlecheckauthresponse');
            if (e.detail.response.code == '200') {
                super.signalAuth(true);
            } else {
                this.displayerror("Your session has expired");
                //si hay kpriv, intenta hacerlogin
                // si no hay kpriv, termina
                super.signalAuth(false);
            }
        }
        _dismissError() {
            this.$.toasterror.toggle();
        }
        _toastinfo(e) {
            this.infomsg = e.detail.msg;
            this.$.toastinfo.open();
        }
        _toasterror(e) {
            this.errormsg = e.detail.msg;
            this.$.toasterror.open();
        }
        _routePageChanged(page) {
            console.log("route changed: "+page);
            if (page == 'logout') {
                if (confirm("delete saved browser?")) {
                    super.signalWipe();
                }
                super.signalAuth(false);
                super.displayinfo("Session closed");
            } else if (page == 'movements') {
                //super.signalRefreshMovements(true);
                this.signalRefreshAccounts(true);
            } else if (page == 'transfer') {
                console.log('transfer');
                super.checkAuth();
                this.signalRefreshAccountsTransfer(true);
            } else if(page == 'login') {
                this.signalLoginPage(true);
            } else if(page == 'register') {
                super.register();
            }
            this.page = page || 'login';
            // Close a non-persistent drawer when the page & route are changed.
            if (!this.$.drawer.persistent) {
            this.$.drawer.close();
            }
        }

        _pageChanged(page) {
            // Load page import on demand. Show 404 page if fails
            //this._toasterror({detail : {msg: "hola"}});
            var resolvedPageUrl = this.resolveUrl('artoo-' + page + '.html');
            Polymer.importHref(
                resolvedPageUrl,
                null,
                this._showPage404.bind(this),
                true);
        }

        _showPage404() {
            this.page = 'view404';
        }
    }

    window.customElements.define(ArtooApp.is, ArtooApp);
  </script>
</dom-module>

