<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="artoo-databus.html">
<dom-module id="artoo-accounts">
  <template>
    <style>
      :host {
        display: block;
      }
      div[role="listbox"] {
        border: 1px solid #e5e5e5;
      }
      /*
      paper-item {
        border: 1px solid #000;
      }
      */
      .avatar {
        display: inline-block;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--paper-amber-500);
      }
      .blue {
        background-color: var(--paper-light-blue-300);
      }    
      
      #transferbtn {

        position: fixed;
        right: 35px;
        bottom: 30px;          
        z-index: 99;
        background: var(--app-whitecore-color);
    }
      #refreshbtn {

        position: fixed;
        right: 100px;
        bottom: 30px;          
        z-index: 99;
        background: var(--app-coreblue-color);
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" >
    
    <paper-fab id="transferbtn" noink icon="swap-horiz" title="transfer money" on-click="_click"></paper-fab>
    <paper-fab id="refreshbtn" noink icon="refresh" title="refresh movements" on-click="_manualUpdate"></paper-fab>
    <div class="container" id="movementslist">
        <div class="row">
            <div class="col-lg-12">
                <h4>Accounts</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12" role="listbox">
                    <div align="center">
                        <paper-spinner active id="spinner" hidden$="{{!gettingaccounts}}"></paper-spinner>
                    </div>
                    <template is="dom-repeat" as="account" items="{{accounts}}">
                    <paper-item>
                        <paper-item-body two-line>
                        <div><span class="movementmsg">[[account.name]]</span></div>
                        </paper-item-body>
                        <div>
                            <span class="euro">€</span>&nbsp;<span class="amountbig">{{account.balance}}</span>
                        </div>
                    </paper-item>                
                    <hr>
                </template>
            </div>
        </div>

</div>
    <iron-ajax
            id="accountsRequest"
            url="/api/accounts"
            method="GET"
            content-type="application/json"
            handle-as="json"
            on-response="_handleAccountsResponse",
            on-error="_handleAccountsError">
    </iron-ajax>

  </template>

  <script>
    class ArtooAccounts extends ArtooDatabusMixin(Polymer.Element) {
      static get is() { return 'artoo-accounts' }

      static get properties() {
        return {
            gettingaccounts: {
                type: Boolean,
                value: true
            },
            accounts: {
                type: Array,
                notify: true
            },
        };
      }
      ready() {
        super.ready();
        //window.addEventListener('movements-signal', (e) => this._getMovements(e));
        //window.addEventListener('auth-signal', (e) => this._getMovements(e));
        window.addEventListener('refreshaccounts-signal', () => this._manualUpdate());
      }
      _manualUpdate() {
        this.$.accountsRequest.headers = {
            "Authorization" : "Bearer "+sessionStorage.getItem('token')
        };
        this.$.accountsRequest.generateRequest();
        this.$.spinner.active = true;
        this.gettingaccounts = true;
      }
      _handleMovementsError(e) {
            this.displayerror("Your session has expired");
            //si hay kpriv, intenta hacerlogin
            // si no hay kpriv, termina
            super.signalAuth(false);
      }
      _handleAccountsResponse(e, req) {
          console.log("handle accounts response");
        if (e.detail.response.code == '200') {
          console.log("handle accounts response OK");
            console.log('handleAccountsResponse OK');
            this.accounts = e.detail.response.accounts;
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayinfo('Accounts Retrieved');
        } else if (e.detail.response.code == "401") {
            console.log('handleAccountsResponse Failed. Code AR');
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayerror(e.detail.response.msg);
            super.signalAuth(false);

        } else {
            console.log('handleAccountsResponse Failed. Code AR');
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayerror(e.detail.response.msg);
        }
      }
          
    }
    

    window.customElements.define(ArtooMovements.is, ArtooMovements);
  </script>
</dom-module>
