<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="artoo-databus.html">
<dom-module id="artoo-login">
  <template>
    <style>
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" >
        <div class="container" id="logincontainer">
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                    <h3>{{loginmsg}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div align="center">
                        <paper-spinner active id="spinner" hidden$="{{!loginin}}"></paper-spinner>
                    </div>
                    <iron-form hidden$="{{loginin}}" on-keypress="checkEnterKey">
                        <form method="get">
                            <label class="red">{{errormsg}}</label>
                            <paper-input autofocus id="usernameinput" name="name" label="Username" value="{{username}}" placeholder="{{usernameplaceholder}}" required></paper-input>
                            <paper-input label="Password" type="password" value="{{password}}"></paper-input>
                            <paper-checkbox id="trustbrowser" on-tap="_trustbrowser" name="read" required>[[checkboxmsg]]&nbsp;<iron-icon icon="important-devices"></iron-icon></paper-checkbox><br><br>
                            <paper-button class="indigo" id="loginbtn" raised on-tap="_doLogin"><iron-icon icon="lock"></iron-icon>&nbsp;Login</paper-button>
                            <paper-button hidden$="{{!autologin}}" class="indigo" id="autologinbtn" raised on-tap="_checkAutoLogin"><iron-icon icon="important-devices"></iron-icon>&nbsp;Autologin</paper-button>
                            <paper-button class="lightblue" id="registerbtn" on-tap="_goToActivate"><iron-icon icon="perm-identity"></iron-icon>&nbsp;Create Account</paper-button>
                        </form>
                    </iron-form>
                </div>
            </div>
        </div>
    <iron-ajax
            id="loginRequest"
            url="/login"
            method="POST"
            content-type="application/json"
            body='{"username" : "{{username}}", "password" : "{{password}}"}'
            handle-as="json"
            on-response="_handleLoginResponse">
    </iron-ajax>
    <iron-ajax
            id="loginRequestWithJWK"
            url="/login"
            method="POST"
            content-type="application/json"
            body='{"username" : "{{username}}", "password" : "{{password}}", "jwk" : "{{jwk}}"}'
            handle-as="json"
            on-response="_handleLoginResponse">
    </iron-ajax>
    <iron-ajax
            id="challengeRequest"
            url="/autologin_challenge"
            method="POST"
            content-type="application/json"
            body='{"jwk":"{{jwk}}"}'
            handle-as="json"
            on-response="_handleChallengeResponse"
            on-error="_handleChallengeError">
    </iron-ajax>
    <iron-ajax
            id="autologinRequest"
            url="/autologin"
            method="POST"
            content-type="application/json"
            body='{"jwk":"{{jwk}}", "signature" : "{{signature}}"}'
            handle-as="json"
            on-response="_handleAutologinResponse"
            on-error="_handleAutologinError">
    </iron-ajax>

  </template>

    <script src="keystore.js"></script>
  <script>
    class ArtooLogin extends ArtooDatabusMixin(Polymer.Element) {
      static get is() { return 'artoo-login'; }

      static get properties() {
        return {
            routedata: {
                type: String,
          },
            checkboxmsg: {
                type: String,
                value: 'Remember me'
          },
            loginmsg: {
                type: String,
                value: 'Client Access'
            },
            errormsg: {
                type: String,
            },
            usernameplaceholder: {
                type: String,
                value: 'your username, e.g, martin'
            },
            loginin: {
                type: Boolean,
                value: false
            },
            autologin: {
                type: Boolean,
                value: true,
                notify: true
            },
            keystore: {
                type: Object,
            },
            keypair : {
                type: Object,
            },
            keypairname : {
                type: String,
                value : "mykeypair"
            },
            jwk: {
                type: String,
            },
            signature: {
                type: String,
            },
        };
      }
      ready() {
        super.ready();
        this.$.usernameinput.$.input.focus();
        window.addEventListener('submit', (e) => this._doLogin());
        window.addEventListener('wipe-signal', (e) => this._wipekeystore());
        //this._checkAutoLogin();

        console.log("opening keystore");
        this.keystore = new KeyStore();
        this.keystore.open().
            then(function() {
                console.log("Successfully created local keystore backed by IndexedDB");
               //_checkAutoLogin();
            }).
            catch(function(err) {
                console.log("Could not open key store");
                console.log(err);

            });
      }

      connectedCallback() {
          console.log("connectedcb");
          //this._checkAutoLogin();
      }

      _wipekeystore() {
        this.keystore.wipe()
            .then(function(evt) {
                console.log("keystore wiped");
            })
            .catch(function(err) {
                console.log("error wiping keystore");
                console.log(err);
            });

      }

      _trustbrowser() {
        console.log(this.$.trustbrowser.checked);
        var login = this;
        // checked still has not toggled yet at this point, hence the boolean negation
        if (!this.$.trustbrowser.checked) {

            login.generateOrLoadKeypair(login)
                .then(function(base64_jwk) {
                    login.jwk = base64_jwk;
                    console.log("loaded jwk "+login.jwk);
                    login.displayinfo("This browser is trusted");
                    login.autologin = true;
                })
            .catch(function(err){
                //login.displayerror(""+err);
                login.autologin = false;
            });
        }
      }

      _checkAutoLogin() {
          this._checkAutoLogin(true);
      }
          
      _checkAutoLogin(flag) {
        var login = this;
        this.generateOrLoadKeypair(login)
            .then(function(base64_jwk) {
                login.jwk = base64_jwk;
                if (flag) {
                    console.log("loaded jwk "+login.jwk);
                    login.displayinfo("This browser is trusted");
                    login.autologin = true;
                    login._doAutoLogin();
                }
            })
        .catch(function(err){
            //login.displayerror(""+err);
            login.autologin = false;
            this._wipekeystore();
        });
      }

      _doLogin() {
        this.loginmsg="Logging in...";
        if (this.$.trustbrowser.checked) {
            this.$.loginRequestWithJWK.generateRequest();
        } else {
            this.$.loginRequest.generateRequest();
        }
        this.errormsg = "";
        this.$.spinner.active = true;
        this.loginin = true;
      }

      _doAutoLogin() {
        this.errormsg = "";
        this.loginmsg="Automatic login in progress";
        this.$.challengeRequest.generateRequest();
        this.$.spinner.active = true;
        this.loginin = true;
      }
    checkEnterKey(e) {
        if (e.keyCode == 13) {
            this._doLogin();
        }
    }

      _clearForm() {
          this.username = "";
          this.password = "";
      }

      _goToActivate() {
        this.errormsg = "";
        super.navigate('register');
        this._clearForm();
      }

      _handleChallengeResponse(e, req) {
          if (e.detail.response.code == "200") {
              console.log("handleChallengeResponse OK");
              var challenge = e.detail.response.challenge;
                sessionStorage.setItem('autologin_challenge', challenge);
                var login = this;
                this.sign(challenge, login)
                    .then(function(signature) {
                        login.signature = login.arrayBufferToBase64(signature);
                        console.log("signature for challenge "+challenge+ " is "+login.signature);
                        login.$.autologinRequest.generateRequest();
                    })
                .catch(function(err) {
                    console.log("error in handlechallengeresponse sign" +err);
                });

          } else {
            console.log('handleChallengeResponse Failed');
            this.$.spinner.active = false;
            this.loginin = false;
            this.errormsg = e.detail.response.msg;
            super.displayerror(e.detail.response.msg);
            //this.autologin = false;
          }
      }

      _handleChallengeError() {
          this.displayerror("challenge error");
        this.loginmsg = "Client Access";
      }

      _handleAutologinResponse(e, req) {
        if (e.detail.response.code == '200') {
            console.log('handleAutoLoginResponse OK');
            sessionStorage.setItem('fa', 'password');
            sessionStorage.setItem('username', this.username);
            sessionStorage.setItem('token', e.detail.response.token);
            super.signalAuth(true);
            this.$.spinner.active = false;
            this.loginin = false;
            this.username = "";
            super.displayinfo("Login Successful");
            super.navigate('movements');
        } else {
            console.log('handleAutoLoginResponse Failed');
            this.$.spinner.active = false;
            this.loginin = false;
            this.errormsg = e.detail.response.msg;
            super.displayerror(e.detail.response.msg);
        }
        this.loginmsg = "Client Access";
      }

      _handleAutologinError() {
          this.displayerror("autologin error");
            this.loginmsg = "Client Access";
      }

      _handleLoginResponse(e, req) {

        this.password = "";

        if (e.detail.response.code == '200') {
            console.log('handleLoginResponse OK');
            sessionStorage.setItem('username', this.username)
            sessionStorage.setItem('token', e.detail.response.token)
            sessionStorage.setItem('fa', 'otp');
            super.signalAuth(true);
            this.$.spinner.active = false;
            this.loginin = false;
            this.username = "";
            super.displayinfo("Login Successful");
            super.navigate('movements');
        } else {
            console.log('handleLoginResponse Failed');
            this.$.spinner.active = false;
            this.loginin = false;
            this.errormsg = e.detail.response.msg;
            super.displayerror(e.detail.response.msg);
        }
        this.loginmsg = "Client Access";

      }


    generateOrLoadKeypair(login) {
        return new Promise(function (fulfill, reject) {

            login.keystore.getKey("name", login.keypairname)
                .then(function(pair) {
                    // Keypair present
                    login.keypair = pair;
                    window.crypto.subtle.exportKey(
                        "jwk", //can be "jwk" (public or private), "spki" (public only), or "pkcs8" (private only)
                        login.keypair.publicKey //can be a publicKey or privateKey, as long as extractable was true
                    )
                        .then(function(keydata){
                            console.log("Exported previous JWK: "+btoa(JSON.stringify(keydata)));
                            fulfill(btoa(JSON.stringify(keydata)), login);
                        })
                        .catch(function(err, login){
                            console.error(err);
                            reject(new Error("Error exporting to JWK"));
                        });

                }).catch(function(err) {
                    console.log("Error getting keypair "+login.keypairname);
                    console.log("generating a new keypair");
                    // keypair not present, generate a new one
                    window.crypto.subtle.generateKey(
                    {
                        name: "ECDSA",
                        namedCurve: "P-256", //can be "P-256", "P-384", or "P-521"
                    },
                        false, //whether the key is extractable (i.e. can be used in exportKey)
                        ["sign", "verify"] //can be any combination of "sign" and "verify"
                    )
                    .then(function(key){
                        //returns a keypair object
                        login.keypair = key;
                        console.log("Succesfully generated new keypair: " + key.publicKey);

                        login.keystore.saveKey(login.keypair.publicKey, login.keypair.privateKey, login.keypairname)
                            .then(

                                window.crypto.subtle.exportKey(
                                    "jwk", //can be "jwk" (public or private), "spki" (public only), or "pkcs8" (private only)
                                    login.keypair.publicKey //can be a publicKey or privateKey, as long as extractable was true
                                )
                                    .then(function(keydata){
                                        console.log("Exported JWK: "+btoa(JSON.stringify(keydata)));
                                        fulfill(btoa(JSON.stringify(keydata)));
                                    })
                                    .catch(function(err){
                                        console.error(err);
                                        reject(new Error("Error exporting to JWK"));
                                    })

                            ).catch(function(err){
                                console.error(err);
                                reject(new Error("Error saving keypair"));
                            });
                        })
                        .catch(function(err){
                            console.error(err);
                            reject(new Error("Error generating keypair"));
                        });
                    });

            });
        }


        sign(data, login) {
            return new Promise(function(fulfill, reject) {

                var data_arr = login.str2ab(data);
                window.crypto.subtle.sign(
                    {
                        name: "ECDSA",
                        hash: {name: "SHA-256"}, //can be "SHA-1", "SHA-256", "SHA-384", or "SHA-512"
                    },
                    login.keypair.privateKey, //from generateKey or importKey above
                    data_arr //ArrayBuffer of data you want to sign
                )
                .then(function(signature){
                    console.log("signature: "+login.arrayBufferToBase64(signature));
                    fulfill(signature);
                })
                .catch(function(err){
                    console.error(err);
                    reject(new Error("Error signing data"));
                })

            });
        }

        arrayBufferToBase64( buffer ) {
            var binary = '';
            var bytes = new Uint8Array( buffer );
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode( bytes[ i ] );
            }
            return window.btoa( binary );
        }

        //http://qnimate.com/digital-signature-using-web-cryptography-api/

        str2ab(str) {
            var buf = new ArrayBuffer(str.length*2); // 2 bytes for each char
            var bufView = new Uint16Array(buf);
            for (var i=0, strLen=str.length; i<strLen; i++) {
                bufView[i] = str.charCodeAt(i);
            }
            return buf;
        }

        ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint16Array(buf));
        }




    }
    

    window.customElements.define(ArtooLogin.is, ArtooLogin);
  </script>
</dom-module>
