<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="artoo-databus.html">
<dom-module id="artoo-movements">
  <template>
    <style>
      :host {
        display: block;
      }
      div[role="listbox"] {
        border: 1px solid #e5e5e5;
      }
      /*
      paper-item {
        border: 1px solid #000;
      }
      */
      .avatar {
        display: inline-block;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--paper-amber-500);
      }
      .blue {
        background-color: var(--paper-light-blue-300);
      }    
      
      #transferbtn {

        position: fixed;
        right: 35px;
        bottom: 30px;          
        z-index: 99;
        background: var(--app-whitecore-color);
    }
      #refreshbtn {

        position: fixed;
        right: 100px;
        bottom: 30px;          
        z-index: 99;
        background: var(--app-coreblue-color);
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" >
    
    <paper-fab id="transferbtn" noink icon="swap-horiz" title="transfer money" on-click="_click"></paper-fab>
    <paper-fab id="refreshbtn" noink icon="refresh" title="refresh movements" on-click="_manualUpdateMovements"></paper-fab>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" role="listbox">
                <h4>Accounts</h4>
                    <div align="center">
                    <template is="dom-repeat" as="account" items="{{accounts}}">
                        <paper-card heading="{{fix(account.balance)}}€">
                            <div class="card-content">{{account.name}}</div>
                            <div class="card-actions">
                                <paper-button><iron-icon icon="expand-more" on-tap="_updateMovements"></iron-icon></paper-button>
                            </div>               
                        </paper-card>
                    </template>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <br/>
            </div>
        </div>
        <div class="row" hidden$="{{!showmovements}}">
            <div class="col-lg-12">
                <h4>Last Movements from {{selectedaccount}}</h4>
            </div>
        </div>
        <div class="row" hidden$="{{!showmovements}}">
            <div class="col-lg-12" role="listbox">
                    <div align="center">
                    <paper-input align="left" id="searchmovements" name="search" label="Filter Movements" value="{{movementsQuery::input}}">  <paper-icon-button slot="suffix" on-tap="_clearsearch" icon="clear" alt="clear" title="clear">
  </paper-icon-button></paper-input>
                        <paper-spinner active id="spinner" hidden$="{{!gettingmovements}}"></paper-spinner>
                    </div>
                    <template is="dom-repeat" as="movement" items="{{movements}}" filter="{{search(movementsQuery)}}">
                    <paper-item>
                        <paper-item-body two-line>
                        <div><span class="movementmsg">[[movement.message]]</span></div>
                        <div secondary class="recipient">[[movement.recipient]]</div>
                        <div secondary>[[date(movement.date)]]</div>
                        </paper-item-body>
                        <div>
                            <span class$="amountbig [[negative(movement.amount)]]">{{significant(movement.amount)}}</span><span class$="amountsmall [[negative(movement.amount)]]">.{{decimals(movement.amount)}}</span>&nbsp;<span class="euro">€</span>
                        </div>
                    </paper-item>                
                    <hr>
                </template>
            </div>
        </div>

</div>
    <iron-ajax
            id="accountsRequest"
            url="/api/accounts"
            method="GET"
            content-type="application/json"
            handle-as="json"
            on-response="_handleAccountsResponse",
            on-error="expiredSession">
    </iron-ajax>
    <iron-ajax
            id="movementsRequest"
            url="/api/movements"
            method="GET"
            content-type="application/json"
            handle-as="json"
            on-response="_handleMovementsResponse",
            on-error="expiredSession">
    </iron-ajax>

  </template>
 <script>
    class ArtooMovements extends ArtooDatabusMixin(Polymer.Element) {
      static get is() { return 'artoo-movements' }

      static get properties() {
        return {
            gettingaccounts: {
                type: Boolean,
                value: true
            },
            gettingmovements: {
                type: Boolean,
                value: true
            },
            showmovements: {
                type: Boolean,
                value: false
            },
            selectedaccount: {
                type: String,
                notify: true
            },
            accounts: {
                type: Array,
                notify: true
            },
            movements: {
                type: Array,
                notify: true
            },
        };
      }
      amountbig(p) {
          return p.split('.')[0];
      }
      amountsmall(p) {
          return p.split('.')[1];
      }
      fix(n) {
          return Number(n).toFixed(2);
      }
      ready() {
        super.ready();
        //window.addEventListener('movements-signal', (e) => this._getMovements(e));
        //window.addEventListener('auth-signal', (e) => this._getMovements(e));
        window.addEventListener('refreshaccounts-signal', () => this._updateAccounts());
        //window.addEventListener('refreshmovements-signal', () => this._updateMovements());
      }
      _updateAccounts() {
        this.$.accountsRequest.headers = {
            "Authorization" : "Bearer "+sessionStorage.getItem('token')
        };
        this.$.accountsRequest.generateRequest();
        this.$.spinner.active = true;
        this.gettingaccounts = true;
        this.movements = [];
      }
      negative(n) {
          console.log("call to negative with n = "+n);
          if (parseFloat(n) < 0 ) {
              return "negative";
            } else {
                return "";
            }
      }
      significant(n) {
          return String(n).split('.')[0];
      }
      decimals(n) {
          return String(n).split('.')[1];
      }
      date(d) {
          return (new Date(d)).toDateString();
      }
      _manualUpdateMovements() {
        this.$.movementsRequest.headers = {
            "Authorization" : "Bearer "+sessionStorage.getItem('token')
        };
        this.$.movementsRequest.url = '/api/movements/'+this.selectedaccount;
        this.$.movementsRequest.generateRequest();
        this.$.spinner.active = true;
        this.gettingmovements = true;
      }
      _updateMovements(e) {
        this.selectedaccount = e.model.account.name;
        this.$.movementsRequest.headers = {
            "Authorization" : "Bearer "+sessionStorage.getItem('token')
        };
        this.$.movementsRequest.url = '/api/movements/'+e.model.account.name;
        this.$.movementsRequest.generateRequest();
        this.selectedaccount = e.model.account.name;
        this.$.spinner.active = true;
        this.gettingmovements = true;
      }
      search(string) {
        if (!string) {
          // set filter to null to disable filtering
          return null;
        } else {
          // return a filter function for the current search string
          string = string.toLowerCase();
          return function(movement) {
            var message = movement.message.toLowerCase();
            var recipient = movement.recipient.toLowerCase();
            var amount = String(movement.amount);
            return (message.indexOf(string) != -1 ||
                recipient.indexOf(string) != -1 ||
                amount.indexOf(string) != -1);
          };
        }
      }
      _clearsearch() {
          this.movementsQuery = "";
      }
      _click() {
        //super.signalAuth(false);
        super.navigate('transfer');
      }
      /*
      _getMovements(e) {
          console.log("getmovements triggered");
          if (e.detail.authed) {
            console.log("movements triggered by movements signal true");
            this.$.movementsRequest.headers = {
                "Authorization" : "Bearer "+sessionStorage.getItem('token')
            };
            this.$.movementsRequest.generateRequest();
            this.$.spinner.active = true;
            this.gettingmovements = true;
         }
      }
      */
      /*
      _handleAccountsError(e) {
            this.displayerror("Your session has expired");
            //si hay kpriv, intenta hacerlogin
            // si no hay kpriv, termina
            super.signalAuth(false);
      }
      */
      _handleAccountsResponse(e, req) {
          console.log("handle accounts response");
        if (e.detail.response.code == '200') {
            this.accounts = e.detail.response.accounts;
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayinfo('Accounts Retrieved');
        } else if (e.detail.response.code == "401") {
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayerror(e.detail.response.msg);
            super.signalAuth(false);
        } else {
            console.log('handleAccountsResponse Failed. Code AR');
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayerror(e.detail.response.msg);
        }
      }
        /*
      _handleMovementsError(e) {
            this.displayerror("Your session has expired");
            //si hay kpriv, intenta hacerlogin
            // si no hay kpriv, termina
            super.signalAuth(false);
      }
      */
      _handleMovementsResponse(e, req) {
          console.log("handle movements response");
        if (e.detail.response.code == '200') {
          console.log("handle movements response OK");
            console.log('handleMovementsResponse OK');
            this.movements = e.detail.response.movements;
            this.$.spinner.active = false;
            this.gettingmovements = false;
            super.displayinfo('Movements Retrieved');
            this.showmovements = true;
        } else if (e.detail.response.code == "401") {
            console.log('handleMovementsResponse Failed. Code AR');
            this.$.spinner.active = false;
            this.gettingmovements = false;
            super.displayerror(e.detail.response.msg);
            super.signalAuth(false);

        } else {
            console.log('handleMovementsResponse Failed. Code AR');
            this.$.spinner.active = false;
            this.gettingmovements = false;
            super.displayerror(e.detail.response.msg);
        }
      }
    connectedCallback() {
       // window.addEventListener('auth-signal', (e) => this._getMovements(e));
    }
          
    }
    

    window.customElements.define(ArtooMovements.is, ArtooMovements);
  </script>  

</dom-module>
