<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="artoo-databus.html">
<dom-module id="artoo-register">
  <template>
    <style>
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" >
        <div class="container" id="logincontainer">
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                    <h3>{{registermsg}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div align="center">
                        <paper-spinner active id="spinner" hidden$="{{!registering}}"></paper-spinner>
                    </div>
                    <iron-form id="registerform" hidden$="{{registering}}" on-keypress="checkEnterKey">
                        <!--<form method="get">-->
                            <label class="red">{{errormsg}}</label>
                            <paper-input label="Username" pattern="[a-zA-Z\-_0-9]{4}" error-message="Alfanumerico de al menos 4 caracteres" value="{{username}}"></paper-input>
                            <paper-input id="nombreinput" label="Name" required pattern="[a-zA-Z]{2}" error-message="Necesitamos llamarte de alguna forma!" value="{{nickname}}"></paper-input>
                            <paper-input label="Surname" pattern="[a-zA-Z\- ]{2}" error-message="No tienes ningún apellido?" value="{{surname}}"></paper-input>
                            <paper-input type="password" label="Password" pattern="[\w]{8}" error-message="Al menos 8 caracteres" value="{{password}}"></paper-input>
                            <paper-input type="password" label="Confirm Password" pattern="[\w]{8}" error-message="Al menos 8 caracteres" value="{{password2}}"></paper-input>
                            <br/>
                            <label>2-Factor Authentication</label>
                    <div align="center">
                        <paper-spinner active id="stspinner" hidden$="{{!gettingst}}"></paper-spinner>
                        <iron-image hidden$="{{gettingst}}" src="{{otpurl}}"></iron-image>
                    </div>
                    <paper-input label="ST Secret" hidden$="{{gettingst}}" value="{{otpsecret}}" disabled></paper-input>
                            <paper-input label="Enter Generated Time-based OTP" hidden$="{{gettingst}}" value="{{otp}}"></paper-input>
                            <br/>
                            <br/>
                            <paper-button class="actionbtn" id="registeractionbtn" raised on-tap="_doRegister"><iron-icon icon="perm-identity"></iron-icon>&nbsp;Create Account</paper-button>
                            <paper-button class="lightblue" id="gotologinbtn" on-tap="_goToLogin"><iron-icon icon="arrow-back"></iron-icon>&nbsp;Login</paper-button>

                            <!--</form>-->
                    </iron-form>
                </div>
            </div>
        </div>
    <iron-ajax
            id="registerRequest"
            url="/register"
            method="POST"
            content-type="application/json"
            body='{"nickname" : "{{nickname}}", "surname" : "{{surname}}", "username":"{{username}}", "password" : "{{password}}", "password2" : "{{password2}}", "otpsecret" : "{{otpsecret}}", "otp" : "{{otp}}"}'
            handle-as="json"
            on-response="_handleRegisterResponse">
    </iron-ajax>
    <iron-ajax
            id="softTokenRequest"
            url="/strequest"
            method="GET"
            content-type="application/json"
            handle-as="json"
            on-response="_handleSoftTokenResponse"
            on-error="_handleSoftokenError">
    </iron-ajax>
  </template>

  <script>
    class ArtooRegister extends ArtooDatabusMixin(Polymer.Element) {
      static get is() { return 'artoo-register'; }

      static get properties() {
        return {
            routedata: {
                type: String,
          },
            registermsg: {
                type: String,
                value: 'Crea tu Cuenta'
            },
            errormsg: {
                type: String,
            },
                
            registering: {
                type: Boolean,
                value: false
          },
            gettingst: {
                type: Boolean,
                value: true
          },
            nickname: {
                type: String,
            },
            surname: {
                type: String,
            },
            username: {
                type: String,
            },
            password: {
                type: String,
            },
            password2: {
                type: String,
            },
            otpurl: {
                type: String,
            },
            otpsecret: {
                type: String,
            },
            otp: {
                type: String,
            },


        };
      }
          
    checkEnterKey(e) {
        if (e.keyCode == 13) {
            this._doRegister();
        }
    }
      ready() {
          super.ready();
            window.addEventListener('register-signal', () => this._getSoftToken());
      }
      _getSoftToken() {
          this.$.softTokenRequest.generateRequest();
            this.$.stspinner.active = true;
            this.gettingst = true;
      }
      _doRegister() {
        this.userdata.toastmsg = "Account Created!";
        window.dispatchEvent(new CustomEvent('toast'));
          this.$.registerRequest.generateRequest();
          this.$.spinner.active = true;
          this.registering = true;
          this.registermsg = 'Creating account...';
      }
      _goToLogin() {
        this._clearForm();
        super.navigate('login');
      }

      _clearForm() {

          this.errormsg = "";
          this.nickname = "";
          this.surname = "";
          this.username = "";
          this.password = "";
          this.password2 = "";
      }

      _handleSoftTokenResponse(e, req) {
        this.gettingst = false;
        if (e.detail.response.code == '200') {
          this.otpurl = e.detail.response.otpurl;
          this.otpsecret = e.detail.response.otpsecret;
          this.otp = e.detail.response.otp;
        } else {
            console.log('handleSoftTokenResponse Failed');
            this.$.stspinner.active = false;
            super.displayerror(e.detail.response.msg);
            super.navigate('login');
        }
      }
      _handleSoftokenError() {
            console.log('handleSoftTokenResponse Failed');
            this.$.stspinner.active = false;
            this.gettingst = false;
            super.displayerror(e.detail.response.msg);
            super.navigate('login');
      }


      _handleRegisterResponse(e, req) {
        if (e.detail.response.code == '200') {
            console.log('handleRegisterResponse OK');
            //this.userdata.toastmsg = "Registro OK";
            //window.dispatchEvent(new CustomEvent('toast'));
            this.$.spinner.active = false;
            this.registering = false;
            this.registermsg = 'Crea tu cuenta';
            //this.$.registerform.reset();
            super.displayinfo("Cuenta creada correctamente");
            this._clearForm();
            window.history.pushState({}, null, '#/login');
            window.dispatchEvent(new CustomEvent('location-changed'));
        } else {
            console.log('handleLoginResponse Failed');
            this.$.spinner.active = false;
            this.registering = false;
            this.errormsg = e.detail.response.msg;
            super.displayerror(this.errormsg);

        }

      }
    }

    window.customElements.define(ArtooRegister.is, ArtooRegister);
  </script>
</dom-module>
