<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="artoo-databus.html">
<dom-module id="artoo-transfer">
  <template>
    <style>
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css" >
        <div class="container" id="logincontainer">
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                    <h3>{{transfermsg}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" align="center">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div align="center">
                        <paper-spinner active id="spinner" hidden$="{{!transfering}}"></paper-spinner>
                    </div>
                    <iron-form id="registerform" hidden$="{{transfering}}" on-keypress="checkEnterKey">
                        <!--<form method="get">-->
                            <label class="red">{{errormsg}}</label>
                            <template is="dom-if" if="{{accountsready}}" restamp="true">
                            <paper-dropdown-menu label="Account" value="{{accountname}}" no-animations>
                            <paper-listbox slot="dropdown-content" class="dropdown-content">

                            <template is="dom-repeat" as="account" items="{{accounts}}">
                                <paper-item label="{{account.name}}">{{account.name}}</paper-item>
                            </template>

                            </paper-listbox>
                            </paper-dropdown-menu>
                            </template>
                            <paper-input label="Recipient" value="{{recipient}}">
                                <iron-icon icon="perm-identity" slot="prefix"></iron-icon>
                            </paper-input>
                            <paper-input label="Amount" type="number" value="{{amount}}">
                                <div slot="prefix">€</div>
                            </paper-input>
                            <paper-input label="Message" value="{{message}}"></paper-input>
                            <paper-input hidden$="{{useotp}}" label="Password" value="{{password}}" type="password"></paper-input>
                            <paper-input hidden$="{{!useotp}}" label="OTP" value="{{otp}}"></paper-input>

                            <br/>
                            <br/>
                            <paper-button class="actionbtn" id="registeractionbtn" raised on-tap="_doTransfer"><iron-icon icon="swap-horiz"></iron-icon>&nbsp;Send Money</paper-button>
                            <paper-button class="lightblue" id="gotologinbtn" on-tap="_goToMovements"><iron-icon icon="arrow-back"></iron-icon>&nbsp;Movements</paper-button>

                            <!--</form>-->
                    </iron-form>
                </div>
            </div>
        </div>
    <iron-ajax
            id="accountsRequest"
            url="/api/accounts"
            method="GET"
            content-type="application/json"
            handle-as="json"
            on-response="_handleAccountsResponse",
            on-error="expiredSession">
    </iron-ajax>
    <iron-ajax 
        id="transferRequest"
        url="/api/transfer"
        method="POST"
        content-type="application/json" 
        body='{"account" : "{{accountname}}", "recipient" : "{{recipient}}", "amount" : "{{amount}}", "message":"{{message}}", "otp" : "{{otp}}", "password" : "{{password}}"}'
        handle-as="json"
        on-response="_handleTransferResponse"
        on-error="expiredSession">
    </iron-ajax>
  </template>

  <script>
    class ArtooTransfer extends ArtooDatabusMixin(Polymer.Element) {
      static get is() { return 'artoo-transfer'; }

      static get properties() {
        return {
            routedata: {
                type: String,
          },
            transfermsg: {
                type: String,
                value: 'Transfer Money'
            },
            errormsg: {
                type: String,
            },
            accountsready: {
                type: Boolean,
                value: false
            },
                
            transfering: {
                type: Boolean,
                value: false
          },
            useotp : {
                type: Boolean,
                value : true
            }

        };
      }
      ready() {
          super.ready();
            window.addEventListener('refreshaccountstransfer-signal', () => this._updateAccounts());
      }
          
      _doTransfer() {
        this.$.transferRequest.headers = {
                "Authorization" : "Bearer "+sessionStorage.getItem('token')
        };
          this.$.transferRequest.generateRequest();
          this.$.spinner.active = true;
          this.transfering = true;
      }
      _goToMovements() {
        this._clearForm();
        super.navigate('movements');
      }

    checkEnterKey(e) {
        if (e.keyCode == 13) {
            this._doTransfer();
        }
    }
      _clearForm() {

          this.errormsg = "";
          this.recipient = "";
          this.amount = "";
          this.message = "";
          this.otp = "";
        this.registermsg = 'Crea tu cuenta';
      }

      _updateAccounts() {
        this.$.accountsRequest.headers = {
            "Authorization" : "Bearer "+sessionStorage.getItem('token')
        };
        this.$.accountsRequest.generateRequest();
        this.$.spinner.active = true;
        this.gettingaccounts = true;
        var fa = sessionStorage.getItem('fa');
        if (fa == 'password') {
            this.useotp = false;
        }
      }
      _handleAccountsResponse(e, req) {
          console.log("handle accounts response");
        if (e.detail.response.code == '200') {
            this.accounts = e.detail.response.accounts;
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            this.accountsready = true;
            super.displayinfo('Accounts Retrieved');
        } else if (e.detail.response.code == "401") {
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayerror(e.detail.response.msg);
            super.signalAuth(false);
        } else {
            console.log('handleAccountsResponse Failed. Code AR');
            this.$.spinner.active = false;
            this.gettingaccounts = false;
            super.displayerror(e.detail.response.msg);
        }
      }

      _handleTransferResponse(e, req) {
        if (e.detail.response.code == '200') {
            this._clearForm();
            console.log('handleRegisterResponse OK');
            this.$.spinner.active = false;
            this.transfering = false;
            this.registermsg = 'Crea tu cuenta';
            super.displayinfo("Transferencia Realizada");
            super.signalRefreshMovements(true);
            super.navigate('movements');
        } else {
            console.log('handleLoginResponse Failed');
            this.$.spinner.active = false;
            this.transfering = false;
            this.errormsg = e.detail.response.msg;
            super.displayerror(this.errormsg);

        }

      }
    }

    window.customElements.define(ArtooTransfer.is, ArtooTransfer);
  </script>
</dom-module>
