<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="artoo-databus">
    <template>
    </template>
  <script>
    (function() {
        let databus = null;
        class ArtooDatabus extends Polymer.Element {

            static get is() { return 'artoo-databus'; }

            static get properties() {
                return {
                    userdata : {
                        type: Object,
                        value: () => ({
                            username: "",
                            token: "",
                            toastmsg: ""
                        })
                    },
                    subscribers: {
                        type: Array,
                        value: () => []
                    }
                };
            }

            static get observers() {
                return [
                    'userdataChanged(userdata.*)'
                ]
            }            

            constructor() {
                super();
                if(!databus) databus = this;
            }

            register(subscriber) {
                this.subscribers.push(subscriber);
                subscriber.userdata = this.userdata;
                subscriber.notifyPath('userdata');
            }

            unregister(subscriber) {
                var i = this.subscribers.indexOf(subscriber);
                if (i > -1) this.subscribers.splice(i, 1)
            }

            userdataChanged(change) {
                console.log('userdatachanged, current # of subscribers = ' + this.subscribers.length);
                for(var i = 0; i < this.subscribers.length; i++) {
                    console.log('subscriber #' + i);
                    console.log('change.path = ' + change.path);
                    console.log('change.value = ' + JSON.stringify(change.value));
                    this.subscribers[i].notifyPath(change.path);
                }
            }



      }            

    window.customElements.define(ArtooDatabus.is, ArtooDatabus);

    ArtooDatabusMixin = (superClass) => {
        return class extends superClass {

            static get properties() {
                return {
                    userdata: {
                    type: Object,
                    }
                }
            }
            /*
            constructor(){
                super();
                databus = new ArtooDatabus();
            }
            */
            connectedCallback() {
                super.connectedCallback();
                databus.register(this);
            }
            disconnectedCallback() {
                super.disconnectedCallback();
                databus.unregister(this);
            }
            displayinfo(infomsg) {
                this.dispatchEvent(new CustomEvent('toastinfo', {bubbles : true, composed : true, detail: {msg: infomsg}}));
            }

            displayerror(errormsg) {
                this.dispatchEvent(new CustomEvent('toasterror', {bubbles : true, composed : true, detail: {msg: errormsg}}));
            }
            register() {
                console.log("databus register");
                this.dispatchEvent(new CustomEvent('register-signal', {bubbles : true, composed : true, detail: {check: true}}));
            }
            checkAuth() {
                console.log("databus checkAuth");
                this.dispatchEvent(new CustomEvent('checkauth-signal', {bubbles : true, composed : true, detail: {check: true}}));
            }
            expiredSession() {
                this.displayerror("Your session has expired");
                this.signalAuth(false);
            }
            logout() {
                this.displayinfo("Logged out");
                this.signalAuth(false);
            }

            signalWipe() {
                console.log("wiping keystore");
                window.dispatchEvent(new CustomEvent('wipe-signal', {bubbles : true, composed : true, detail : { authed : false}}));
            }

            signalAuth(value) {
                console.log("signaling auth: "+value);
                if (!value) {
                    sessionStorage.setItem('username', '');
                    sessionStorage.setItem('token', '');
                }
                window.dispatchEvent(new CustomEvent('auth-signal', {bubbles : true, composed : true, detail : { authed : value}}));
            }
            signalLoginPage(value) {
                window.dispatchEvent(new CustomEvent('login-page-signal', {bubbles : true, composed : true, detail : { authed : value}}));
            }
            signalRefreshAccounts(value) {
                window.dispatchEvent(new CustomEvent('refreshaccounts-signal', {bubbles : true, composed : true, detail : { authed : value}}));
            }
            signalRefreshAccountsTransfer(value) {
                window.dispatchEvent(new CustomEvent('refreshaccountstransfer-signal', {bubbles : true, composed : true, detail : { authed : value}}));
            }
            signalRefreshMovements(value) {
                window.dispatchEvent(new CustomEvent('refreshmovements-signal', {bubbles : true, composed : true, detail : { authed : value}}));
            }
            navigate(path) {
                window.history.pushState({}, null, '#/'+path);
                window.dispatchEvent(new CustomEvent('location-changed'));
            }

        }
    }
}());
  </script>
</dom-module>
