<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="session-storage">
  <script>
    (function() {
      let sessionInstance = null;
      class SessionStorage extends Polymer.Element {
        static get is() { return 'session-storage'; }
        static get properties() {
          return {
            session: {
              type: Object,
              value: () => ({
                userId: "",
                userName: "",
                token: "",
                expires: "",
                role: ""
              })
            }
          }
        }
        constructor() {
          super();
          if (!sessionInstance) sessionInstance = this;
          if(sessionStorage.session){
            this.session = JSON.parse(sessionStorage.session);
          }
        }
        register(subscriber) {
          subscriber.session = this.session;
        }
      }
      window.customElements.define(SessionStorage.is, SessionStorage);
      SessionStorageMixin = (superClass) => {
        return class extends superClass {
          static get properties() {
            return {
              session: {
                type: Object,
                observer: "_change",
              }
            }
          }
          _change(session){
            if(session.token){
              sessionStorage.session = JSON.stringify(session);
            }else if(sessionStorage.session){
              sessionStorage.removeItem("session"); 
            }
          }
          constructor(){
              super();
              new SessionStorage();
          }
          connectedCallback() {
            sessionInstance.register(this);
            super.connectedCallback();
          }
          disconnectedCallback() {
            super.disconnectedCallback();
          }
        }
      }
    }());
  </script>
</dom-module>
