<link rel="import" href="../bower_components/polymer/polymer-element.html">
<dom-module id="">
  <template>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

  </template>

  <script>
    class xxx extends Polymer.Element {
      static get is() { return ''; }

      static get properties() {
        return {
          prop1: {
            type: String,
          },
        };
      }
    }

    window.customElements.define(.is, xxx);
  </script>
</dom-module>
